[Unit]
Description=Clockberrypi Desk Clock
After=network.target

[Service]
type=simple
ExecStart=/usr/bin/bash /home/pi/clockberrypi/deskclock

[Install]
WantedBy=default.target
